@using System.Diagnostics
@using MyValidatorApp.Models
@using MyValidatorApp.ViewModel;


@{
    Layout = null;
}
<!DOCTYPE html>

<html action="#">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="//cdn.muicss.com/mui-latest/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="//cdn.muicss.com/mui-latest/js/mui.min.js"></script>
</head>
<body>
    <header class="mui-appbar mui--z1">
        <div class="mui-container">
            <table width="100%">
                <tr class="mui--appbar-height">
                    <td class="mui--text-title">ID Validator</td>
                    <td align="right">
                        <ul class="mui-list--inline mui--text-body2">
                            <li><a href="#">Login</a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </header>

    <div id="content-wrapper" class="mui--text-center">
        <div class="mui--appbar-height"></div>
        <br>
        <br>
        <div class="mui--text-display3">Please Enter ID Number</div>
        <br>
        <br>

        @model MyValidatorApp.ViewModel.IdValidatorModel
        @using (Html.BeginForm("Index", "IdValidator"))
        {
            <div class="mui-textfield idTextBox">
                @Html.TextBoxFor(x => x.IdNumber, new { type = "number", required = "required" })
                @Html.ValidationMessageFor(x => x.IdNumber)
            </div>

            <br />
            <br />
            <div>
                <input class="mui-btn mui-btn--raised" type="submit" />
            </div>
        }
      
    </div>
        <table class="mui-table mui-table--bordered userTable">
            <thead>
                <tr>
                    <th>IdNumber</th>
                    <th>DateOfBirth</th>
                    <th>Gender</th>
                    <th>Citizenship</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in ViewBag.result)
                {
                    <tr>
                        <td>@p.IdNumber</td>
                        <td>@p.DateOfBirth</td>
                        <td>@p.Gender</td>
                        <td>@p.Citizenship</td>
                    </tr>
                }
            </tbody>
        </table>

        <br />
        <br />
    <div name="Errors" class="mui--text-center">
        <ul>
            @foreach (var error in ViewBag.Error)
            {
                <li>@error</li>
            }
        </ul>
    </div>

      
  
</body>
</html>
